/target

.github/workflows/release.yaml

/target
.vscode
book
target/
mutants.out/
mutants.out.old/

!**/src/target/

test-results/

.facts.db
!e2e/src/target/
review/
proj-examples/
.DS_Store
/target
.DS_Store
**/.DS_Store
/scripts
/__pycache__
/.vs*
!vcr/src/target
*.profraw
*.profraw.*
*.profdata
*.profdata.*
test-suite.schema.json
registry-test-plan/

logo.svg
docs/
tests.md

*.rlib
*.dylib
/python-sdk
notes.md
/specs
*.env
*.bak
*.log
*.tmp
syntax.json
*.zip
/tmp
*/tmp

__pycache__/
docs/book

/fuzz/corpus/
/fuzz/artifacts/
